@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #191919;
  background: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .line-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .line-connector-right {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 3px;
    width: 108%;
    background-color: #ddd;
  }

  .line-connector-top {
    position: absolute;
    bottom: 100%;
    left: 23px;
    height: 50%;
    width: 3px;
    background-color: #ddd;
  }

  .line-connector-bottom {
    position: absolute;
    top: 85%;
    left: 23px;
    height: 190%;
    width: 3px;
    background-color: #ddd;
  }

  .line-connector-tip {
    position: absolute;
    top: 85%;
    left: 23px;
    height: 50%;
    width: 3px;
    background-color: #ddd;
  }
}